$bg-color: #e4d7e3;
$keypres-color: #93da97;
$keyhover-color: #a6d3a8;
$bg-altkeys: rgba(104, 46, 45, 0.25);

.active {
  background-color: $keypres-color;
  animation: 0.3s keypress;
  transform: scale(0.97);
}

@keyframes keypress {
  0% {
    background-color: initial;
  }
  100% {
    background-color: $keypres-color;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.wrapper {
  background-color: $bg-color;
  height: 100vh;
  width: 760px;
  margin: 0 auto;
  padding: 0px 10px;

  p {
    text-align: center;
  }
}

.title {
  margin: 0;
  padding: 20px 0px;
  text-align: center;
}

.inputText {
  width: 97%;
  height: 42%;
  padding: 10px;
  font-size: 20px;
}

.kb-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  justify-content: center;
  align-content: center;
  border: 5px solid #875050;
  border-radius: 8px;
  background-color: #e5dbdb;
  padding: 2px;
  margin-top: 20px;
}

.kb-item {
  flex: 0 0 5.5%;
  min-width: 32px;
  border: 1px solid #2e362e;
  margin: 2px;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #000000;
  transition: background-color 0.4s, box-shadow 0.4s, scale 0.4s;

  &.active {
    box-shadow: none;
  }

  &.backspace,
  &.tab,
  &.delete,
  &.capslock,
  &.enter,
  &.shiftleft,
  &.arrowup,
  &.shiftright,
  &.controlleft,
  &.metaleft,
  &.altleft,
  &.altright,
  &.arrowleft,
  &.arrowdown,
  &.arrowright,
  &.controlright {
    background-color: $bg-altkeys;

    &.active {
      background-color: $keypres-color;
    }
  }

  &.backspace {
    flex: 1 0 14%;
  }

  &.tab {
    flex: 1 0 9%;
  }

  &.capslock {
    flex: 1 0 12%;
  }

  &.enter {
    flex: 1 0 14%;
  }

  &.shiftleft {
    flex: 1 0 17.5%;
  }

  &.shiftright {
    flex: 1 0 10%;
  }

  &.controlleft,
  &.controlright {
    flex: 0 0 10%;
  }

  &.space {
    flex: 1 0 20%;
  }

  &:hover {
    background-color: $keyhover-color;
  }
}

.hidden {
  display: none;
}
